<div class="home-section">
  <span class="home-section-label">Reports</span>
  <p-table
    class="home-table-wrapper"
    [value]="store.reportRows()"
    sortMode="single"
    dataKey="id"
    size="small"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="name">Name <p-sort-icon field="name" /></th>
        <th pSortableColumn="number" class="home-col-number">
          Number <p-sort-icon field="number" />
        </th>
        <th pSortableColumn="status" class="home-col-status">
          Status <p-sort-icon field="status" />
        </th>
        <th pSortableColumn="modifiedAt" class="home-col-modified">
          Modified <p-sort-icon field="modifiedAt" />
        </th>
        <th class="home-col-actions"></th>
      </tr>
    </ng-template>
    <ng-template #body let-row>
      <tr
        class="home-row"
        [class.home-row--draft]="row.statusKind === 'draft'"
        [class.home-row--published]="row.statusKind === 'published'"
        [class.home-row--empty]="row.statusKind === 'empty'"
        tabindex="0"
        (click)="store.openRow(row)"
        (keydown.enter)="store.openRow(row)"
        (contextmenu)="onContextMenu($event, row)"
      >
        <td class="home-col-status-stripe">
          <span class="home-row-name">
            <i class="pi pi-file" aria-hidden="true"></i>
            {{ row.name }}
          </span>
        </td>
        <td class="home-col-number">
          <span class="home-rnum">R-{{ row.number }}</span>
        </td>
        <td class="home-col-status">
          <span
            class="home-status-word"
            [class.home-status-word--draft]="row.statusKind === 'draft'"
            [class.home-status-word--published]="row.statusKind === 'published'"
            [class.home-status-word--empty]="row.statusKind === 'empty'"
          >
            {{ row.status }}
          </span>
        </td>
        <td class="home-col-modified">{{ row.modifiedAt | date: 'short' }}</td>
        <td class="home-col-actions">
          <button
            type="button"
            class="home-row-actions"
            aria-label="Actions"
            (click)="onActions($event, row)"
          >
            <i class="pi pi-ellipsis-v" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
